.home{
  min-height: 100vh;
  background-color: var(--grayBackground);
  font-size: 20px;
  padding-bottom: 80px;
}

.home-header{
  font-size: 30px;
  letter-spacing: 2px;
  padding: 40px 20px;
  padding-bottom: 10px;
  text-align: center;
}

.home-button{
  padding: 10px 25px;
  background-color: rgb(43, 39, 39);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: -8px 8px 5px 0px rgba(0,0,0,0.75);
  margin: auto;
  width: fit-content;
  margin-top: 40px;
}

@media(min-width: 768px){
  .home-header{
    font-size: 40px;
  }
}