.placesInput-getLocationBtn{
  display: none;
  width: 100%;
  position: absolute;
  top: 110%;
  border-radius: 10px;
  background-color: rgb(66, 65, 65);
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.gps:hover::after{
  content: attr(alt);
  background-color: rgb(65,65,65);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 25%;
  left: 120%;
  padding: 3px 10px;
  width: max-content;
}
.placesInput-current:hover{
  background-color: lightgray;
}

.pac-item{
  padding: 15px 20px;
}

.pac-item:hover{
  background-color: lightgray;
}

.pac-item-selected{
  background-color: lightblue;
}
.pac-item-query{
  font-size: 18px;
}