*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: mainFont;
  src: url('./fonts/nexaregular.otf');
}

@font-face {
  font-family: logoFont;
  src: url('./fonts/Niconne-Regular.ttf');
}

@font-face{
  font-family: homeLabel;
  src: url('./fonts/Lato-Italic.ttf')
}

@font-face{
  font-family: homeLabel2;
  src: url('./fonts/Cantarell-Regular.ttf')
}

:root{
    --mainColor: rgb(38, 124, 91);
    --grayBackground: #efeef1;
    font-family: mainFont;
}

.pointer:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.icon{
  height: 20px;
  margin-top: -5px;
}

.center-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width{
  width: 100%;
}

.label{
  font-size: 25px;
  letter-spacing: 2px;
  font-family: homeLabel;
  text-align: center;
  margin: 20px 0;
}

@media(min-width: 500px){
  .icon{
    margin-top: 0;
  }
}