*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: mainFont;
  src: url('./fonts/nexaregular.otf');
}

@font-face {
  font-family: nameFont;
  src: url('./fonts/Niconne-Regular.ttf');
}

@font-face{
  font-family: heroLabel;
  src: url('./fonts/Lato-Italic.ttf')
}

@font-face{
  font-family: heroLabel2;
  src: url('./fonts/Cantarell-Regular.ttf')
}

:root{
    --mainColor: rgb(38, 124, 91);
    --regularText: 16px; 
}
